//
//  Dev.xcconfig
//  FastLaneBuildConfigTest
//
//  Created by easygun on 2020/06/15.
//  Copyright © 2020 정하민. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-FastLaneBuildConfigTest/Pods-FastLaneBuildConfigTest.dev.xcconfig"
#include "./Shared"

shared_url = 123123
